streamlit
pandas
logging
redis
jwt
numpy
plotly
scikit-learn
python-magic
PyPDF2
Pillow
pytesseract
jinja2
schedule
nltk
stripe
icalendar
python-dateutil
requests
matplotlib
seaborn
fpdf2
clamd
pdf2image
psutil
PyYAML
xlsxwriter
icalendar